<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>

        <link
            rel="stylesheet"
            href="../node_modules/buefy/dist/buefy.min.css"
        />
    </head>
    <body>
        <div id="app">
            <pre> {{ $data }} </pre>
            <button @click="changeDate">Change Place</button>
            <country-selector v-model="birthPlace"></country-selector>
        </div>

        <!-- Vendors -->
        <script src="../node_modules/vue/dist/vue.min.js"></script>
        <script src="../node_modules/vuex/dist/vuex.min.js"></script>
        <script src="../node_modules/buefy/dist/buefy.min.js"></script>

        <!-- Scripts -->
        <script src="../src/scripts/country-selector-store.js"></script>
        <script src="../src/scripts/country-selector.js"></script>
        <script src="../src/scripts/index.js"></script>
    </body>
</html>
